@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@media print {
  body * {
    visibility: hidden;
  }

  .printable-area,
  .printable-area * {
    visibility: visible;
  }

  /* Reset layout for print */
  .printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 210mm;
    /* A4 Width */
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none !important;
  }

  /* Hide print buttons */
  button,
  .no-print {
    display: none !important;
  }

  /* Ensure background colors print */
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}